body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 30%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form label {
    font-weight: bold;
}

.form input, .form select, .form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #0056b3;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
input[type="radio"], label {
    display: inline-block;
    vertical-align: middle;
}