body{
    margin: 0;
}
.nav{
    display: flex;
    background-color: #ffffff;
    border-bottom: 1px solid black;
}
.add,.logo{
    width: 50%;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;

}
.navlogo{
    margin-left: 5%;
    width: 290px;
    height: 75px;
    background-image: url("../img/logo-50.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.add{

}
.addon{
    position: absolute;
    right: 15%;
    border: none;
    background-color: #0080A8;
    width: 150px;
    height: 50px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    border-radius: 18px;
    
}
.container{
    width: 80%;
    margin: auto;
    margin-top: 4%;
}
.table{
    width: 100%;
}
td>input{
    width: 96%;
}
#edit{
    background-color: #333333;
    color: white;
}
#delete{
    background-color: red;
    color: white;
}
#save{
    background-color: green;
    color: white;
}